@charset "utf-8";
/* CSS Document */
.content{
	text-align:center;
}
.ed_nkl {
	float: left;
	margin-left: 50px;
	margin-top: 13px;
}

.ed_nkl .ed_msl a {
	display: inline-block;
	padding: 9px 15px;
	background: #fff;
	border: 1px solid #ddd;
	margin-right: 10px
}


.up_img {
	padding-right: 400px;
	position: relative;
	min-height: 1400px
}

.up_ins {
	padding: 0 20px;
	width: 360px;
	background: #fff;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0
}

.up_ins dl {
	margin: 20px auto
}

.up_ins dt {
	line-height: 22px;
	padding-bottom: 12px
}

.up_ins dd {
	position: relative
}

.up_ins dd .text {
	padding: 8px 10px;
	font-size: 14px;
	border: 1px solid #ddd;
	width: 338px
}

.up_ins dd .sct {
	padding: 0 10px;
	font-size: 14px;
	border: 1px solid #ddd;
	width: 360px;
	height: 38px
}

.up_ins dd .ico10 {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -10px
}

.up_ins dd .ico11 {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -10px
}

.up_ins dd .ico16 {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -10px
}

.up_ins dd .zsum {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #999
}

.up_ins dd .stmg {
	float: left;
	position: relative
}

.up_ins dd .stmg .text {
	width: 162px
}

.up_ins dd .stxt {
	float: left;
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	position: relative
}

.up_ins dd .img_sel {
	position: relative;
	width: 110px;
	margin-right: 10px;
	float: left
}

.up_ins dd .img_sel .sct {
	width: 100%
}

.up_ins dd div {
	position: relative
}

/*用户管理_编辑账号*/
.user_ed_msg {
	padding: 0 40px;
	border-bottom: 1px solid #ddd
}

.user_ed_msg .up_ins {
	width: 1000px;
	background: none;
	padding: 20px;
	position: relative;
	top: auto;
	right: auto
}

.user_ed_msg dl {
	width: 360px;
	position: relative;
}

.user_ed_msg dt {
	float: left;
	width: 90px;
	text-align: right;
	padding: 5px 0 0
}

.user_ed_msg dd {
	margin-left: 90px
}

.user_ed_msg .ued_w {
	width: 430px
}

.mp_instu {
	padding: 40px 40px 20px
}

.mp_seld dl {
	margin-bottom: 15px
}

.mp_seld dt {
	float: left;
	width: 135px;
	text-align: right;
	padding: 5px 0 0
}

.mp_seld dd {
	margin-left: 145px;
	line-height: 28px
}

.mp_seld dd .js_ak a {
	display: inline-block;
	padding: 5px 15px;
	border: 1px solid #ddd;
	background: #fff;
	color: #666;
	margin: 0 10px 10px 0
}

.mp_seld dd .js_ak a:hover {
	background: #f24143;
	color: #fff
}

.mp_seld dd .js_ak input:checked+a {
	background: #f24143;
	color: #fff;
}

.dj_ns {
	padding-left: 24px
}

.dj_ni {
	margin-bottom: 10px
}

.dj_ns span {
	display: inline-block;
	margin: 5px 10px 5px 0
}
.centerDiv{
	width:1080px;
	font-size:18px;
	color:blue;
	text-align:center;
}
.user_ed_msg1 {
	border-bottom: 1px solid #ddd;
	float: left;
}
.moduleTree_div{
	width: 35%;
	height: 450px;
	border: 5px solid #b8b8b8; 
	float: left;
	margin-top: 20px;
	margin-left:40px;
	border-radius:10px;
}
.nar_div{
	width: 55%;
	height: 450px;
	border: 5px solid #b8b8b8; 
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius:10px;
}
.dj_ns {
	padding-left: 24px
}