@charset "utf-8";
/* CSS Document */
.ed_nkl {
	float: left;
	margin-left: 10px;
	margin-top: 13px;
	display: none;
}

.ed_nkl .ed_msl a {
	display: inline-block;
	padding: 9px 15px;
	background: #fff;
	border: 1px solid #ddd;
	margin-right: 10px
}

.ed_nkl .ed_msl a.cur, .ed_nkl .ed_msl a:hover {
	background: #f24143;
	color: #fff;
	border-color: #f24143
}

.search .ser_box {
	border: 1px solid #ddd;
	padding: 5px 40px 5px 10px;
	height: 30px;
	line-height: 30px;
	position: relative;
	width: 300px;
	background: #fff;
	float: right;
	margin-right: 26px;
	margin-top: 10px;
	float: right;
	margin-bottom: 5px;
}

.search .ser_box .text {
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	width: 98%;
	height: 30px;
	line-height: 30px;
	font-size: 14px
}

.search .ser_box .ico {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -11px;
	cursor: pointer
}

.search .ser_most {
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	border: 1px solid #ddd;
	background: #fff;
	font-size: 14px;
	float: left;
	margin-left: 10px
}

.search .ser_most:hover {
	background: #f13f2c;
	color: #fff
}

.gc_vst {
	background: #fff;
}

.gc_vst .gc_nav {
	top: 0;
	left: 0;
	width: 18%;
	border: 1px solid #ddd;
	border-width: 1px 1px 0 0;
	overflow: hidden;
	overflow-x: auto;
	float: left;
	min-height: 560px;
	overflow-x: auto;
	padding-top: 20px;
}

.gc_vst #TreeBox .ztree ul {
	width: 100% !important;
}

.tree_icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	float: left;
}

.sel {
	padding: 0 10px;
	font-size: 14px;
	border: 1px solid #ddd;
	width: 70px;
	height: 24px
}

.ued_w {
	width: 430px;
	background: #fff;
	top: 0;
	right: 0;
	padding: 0 20px;
	background: #fff;
}

.ued_w dl {
	margin: 20px auto
}

.ued_w dt {
	line-height: 34px;
	padding-bottom: 12px;
	float: left;
}

.ued_w dd {
	position: relative
}

.ued_w dd .text {
	padding: 8px 10px;
	font-size: 14px;
	border: 1px solid #ddd;
	width: 338px
}