@charset "utf-8";
/* CSS Document */

.ed_gkp {
	padding: 20px 25px;
	background: #fafafa;
	height: 40px;
	position: relative;
	z-index: 9
}

.ed_nkl .ed_msl a {
	display: inline-block;
	padding: 9px 15px;
	background: #fff;
	border: 1px solid #ddd;
	margin-right: 10px
}

.ed_nkl .ed_msl a.cur, .ed_nkl .ed_msl a:hover {
	background: #f24143;
	color: #fff;
	border-color: #f24143
}

.ed_gkp .search {
	position: absolute;
	top: 50%;
	margin-top: -21px
}

.search .ser_box {
	border: 1px solid #ddd;
	padding: 5px 40px 5px 10px;
	height: 30px;
	line-height: 30px;
	position: relative;
	width: 300px;
	float: left;
	background: #fff
}
.search .ser_box1 {
	float: left;
}
.search .ser_box .text {
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	width: 98%;
	height: 30px;
	line-height: 30px;
	font-size: 14px
}

.search .ser_box .ico {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -11px;
	cursor: pointer
}

.sel{
	padding: 0 10px;
	font-size: 14px;
	border: 1px solid #ddd;
	width: 80px;
	height: 24px
}